#link{
    height: 20px;
}

@media screen and (min-width: 1308px) and (max-width: 1450px){
    /* For desktop: */
    .margin{
        position: fixed;
        right: 0;
        margin-right: 120px;
    }
}

#favouriteBanner{
    background: linear-gradient(to right, #facc91, #facc91,#facc91,#ff701d); 
}

.d-block{
    height: 300px;
    padding: 16px 0 10px;
}

.d-block:hover{
   transform: scaleY(1.1); 
}

#favouriteCard:hover{
    transform: scaleY(1);
}

#remove-btns{
    float: right;
}

#footer-note{
    font-size: 13px;
}

#social-media-links a img{
    height: 20px;
}

footer h6{
    font-weight: 700;
} 

footer ul li{
    list-style: none;
    font-size: 13px;
    font-weight: 470;
    margin-top: 3px;
}
